*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
	background:dodgerblue;
}
.title{
	font-size:3rem;
	color: #fff;
}
.count{
	font-size:4rem;
	color: #fff;
}
.container{
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	text-align: center;
	width:300px;
	height: 220px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

button{
	padding:8px 20px;
	border: none;
	outline: none;
	border:1px solid #fff;
	cursor: pointer;
}
button:hover{
	background:dodgerblue;
}